<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBApp.Properties.Settings.ConnectionString" connectionString="Dsn=CustDS;dbq=D:\Customer.xls;defaultdir=D:;driverid=790;fil=excel 8.0;maxbuffersize=2048;pagetimeout=5"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>